@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

svg {
    display: inline-flex !important;
    margin-right: 0.5rem;
}
progress::-moz-progress-bar {background-color: #8269DF !important;}
progress {
    overflow: hidden;
    border-radius: 10px;
}
//MOBILE
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw 3rem 10vw;
    &__profile {
        display: flex;
        margin-bottom: 2rem;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__studentName {
        margin-bottom: 2vh;
        font-size: 3rem;
    }
    &__titre {
        margin-bottom: 1rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__image {
        border-radius: 50%;
        width: 200px;
        height: auto;
    }
    &__time {
        align-self: flex-end;
    }
    &__timeSpent {
        text-align: center;
        font-size: 20px;
    }
    &__progress {
        width: 100%;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
        a {
            font-size: 1rem;
        }
    }
    &__titreContact {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    &__titre {
        font-size: 2rem;        
    }
    &__contactWay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__progressbar {
        margin-bottom: 2rem;
    }
}
//PC
@include screens.laptop {
    .wrapper {
        &__header {
            flex-direction: row;
            flex-wrap: wrap;
            align-self: flex-start;
            margin-bottom: 2rem;
        }
        &__studentName {
            width: 100%;
        }
        &__contact {
            width: inherit;
        }
        &__titreContact {
            text-align: left;
            margin-bottom:1rem;
        }
        &__contactWay {
            justify-content: flex-start;
            margin-bottom: 2vh;
        }
        &__progressbar {
            width: 100%;
            margin-bottom: 3rem;
        }
        &__profile {
            margin-right: 3rem;
        }
    }
}