@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.content {
    width: 100%;
    padding: 20px;
}

.arrow {
    color: variables.$orange;
    transform: rotate(180deg);
    height: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.title {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px auto;

    input, select {
        background: rgba(#36304B, 0.1);
        width: 80%;
        margin: 20px auto 0;
        padding: 15px;
        max-width: 300px;
    }

    label {
        width: 80%;
        margin: 30px auto 0;
        max-width: 300px;
    }

    button {
        color: white;
        background: linear-gradient(90deg, #6B69DF 0%, #9D69DF 100%);
        border-radius: 10px;
        width: 150px;
        padding: 20px;
        margin: 60px auto 0;
    }

    a {
        text-align: center;
        margin-top: 30px;
    }

}

@include screens.laptop {
    .wrapper {
        flex-direction: row;
    }

    .content {
        width: 50%;
    }

    .title {
        margin-top: 0;
    }
}