@use "../mixins";
@use "../screens";
@use "../typography";
@use "../variables";

.header {
  padding: 2rem 1.5rem 3rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include screens.laptop {
    padding: 8rem 8rem 4rem 8rem;
    flex-direction: row;
    justify-content: center;
  }

  @include screens.desktop {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -6rem 0 0 0;
    background-color: variables.$orange;
    z-index: -1;
  }

  &::after {
    @include mixins.background-circle(rgba(white, 0.2));

    content: "";
    inset: auto auto 0 0;
    transform: translate(-50%, 50%);
  }

  .text {
    width: min(48rem, 100%);
  }

  .title {
    @include typography.heading1;
  }

  .subtitle {
    @include typography.heading2;

    margin-top: 1rem;
    width: 100%;

    @include screens.laptop {
      margin-top: 2rem;
    }

    .link {
      text-decoration: underline;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: white;
      }
    }
  }

  .image {
    width: min(40rem, 80%);
    margin: 0 auto;

    @include screens.laptop {
      margin: 0;
    }
    
    @include screens.desktop {
      position: relative;
      left: -8rem;
      top: -4rem;
    }
  }

  .button {
    @include mixins.button(white, variables.$dark);

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: variables.$shadow;

    img {
      transform: rotate(90deg);
    }
  }
}

.main {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include screens.laptop {
    padding: 8rem;
    gap: 8rem;
  }

  &::before {
    @include mixins.background-circle(rgba(variables.$purple, 0.1));

    content: "";
    inset: 0 auto auto 0;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include mixins.background-circle(rgba(variables.$purple, 0.1));

    content: "";
    inset: auto 0 0 auto;
    transform: translate(50%, 50%);
  }

}

.list {
  display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 10;
    padding: 0 1.5rem;

  @include screens.laptop {
    gap: 2rem;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.instructor {
  flex: 0 0 auto;

  .image {
    width: 16rem;
    border-radius: variables.$radius;
  }

  .name {
    @include typography.heading3;

    margin: 0.5rem 0;
  }

  .stars {
    display: flex;
    gap: 0.25rem;
  }
  .desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heart {
    width: 32px;
    height: 32px;
  }
}
