@use "../mixins";
@use "../screens";
@use "../typography";
@use "../variables";

.content {
    padding: 15px;
    .subtitle {
        @include typography.heading2;
        margin-bottom: 64px;
    }
    .component {
        margin-bottom: 64px;
    }
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    margin-bottom: 64px;
    .text {
        display: flex;
        align-items: center;
        width: 59%;
        font-size: 20px;
        color: variables.$purple;
    }
    .line {
        width: 40%;
        height: 1px;
        background-color: variables.$purple;
    }
}
