@use "variables";
@use "screens";

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Outfit;
  src: url("../assets/fonts/Outfit-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Outfit;
  src: url("../assets/fonts/Outfit-SemiBold.ttf");
  font-weight: 600;
}

body {
  font-family: Outfit, sans-serif;
  color: variables.$dark;
  font-size: 0.875rem;

  @include screens.laptop {
    font-size: 1rem;
  }
}