@use "variables";

@mixin button($color, $text-color) {
  padding: 1.5em 2em;
  border-radius: variables.$radius;
  background: $color;
  color: $text-color;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

@mixin background-circle($color) {
  position: absolute;
  width: min(150vw, 80rem);
  height: min(150vw, 80rem);
  background-color: $color;
  border-radius: 50%;
  z-index: -1;
}

@mixin input {
  padding: 1em 1.5em;
  border-radius: variables.$radius;
  background-color: rgba(variables.$dark, 0.1);

  &::placeholder {
    color: rgba(variables.$dark, 0.5);
  }
}