@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.navbar {
  position: sticky;
  inset: 0 0 auto 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  z-index: 10000;
  justify-content: space-between;
  transition: background-color 0.2s ease-in-out;

  @include screens.laptop {
    padding: 2rem 8rem;
  }

  &.scrolled {
    background-color: white;
    box-shadow: variables.$shadow;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo {
      width: 1.25rem;
  
      @include screens.laptop {
        width: 1.75rem;
      }
    }
  
    .hero {
      font-weight: bold;
      font-size: 0.9rem;
  
      @include screens.laptop {
        font-size: 1.2rem;
      }
    }
  }

  .pictureContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .picture {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  .login {
    display: flex;
    gap: 0.5rem;

    .link:hover {
      text-decoration: underline;
    }
  }
}

.popup {
  background-color: white;
  width: min(calc(100% - 3rem), 32rem);
  padding: 1.5rem;
  border-radius: variables.$radius;
  transform: translateY(1rem);
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;

  &:global(.open) {
    transform: translateY(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  @include screens.laptop {
    padding: 3rem;
  }

  .title {
    @include typography.heading2;
  }
}
