@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.footer {
  padding: 3rem 1.5rem;
  background-color: variables.$orange;
  display: flex;
  flex-direction: column;

  @include screens.laptop {
    padding: 4rem 0;
  }

  .header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;


    .logo {
      width: 1.25rem;

      @include screens.laptop {
        width: 2rem;
      }
    }

    .hero {
      font-weight: bold;
      font-size: 0.9rem;
      margin: 0 auto 0 0.5rem;

      @include screens.laptop {
        font-size: 1.5rem;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;

    @include screens.laptop {
      flex-direction: row;
      gap: 2rem;
      margin: 3rem auto 0;
    }

    .link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}