@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .input {
      @include mixins.input;

      width: 100%;
    }

    .label {
      margin: 1.5rem 0 0.5rem 1.5em;
    }

    .button {
      @include mixins.button(variables.$orange, variables.$dark);

      margin: 2rem auto 0.5rem;
    }

    .subbutton {
      text-align: center;
      cursor: pointer;
    }
}