@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";
//MOBILE
.competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__list {
        margin-bottom: 2rem;
    }
    &__category {
        margin-bottom: 2vh;
        font-size: 25px;
        font-weight: 600;
    }
    &__cpt{
        display: flex;
        margin-bottom: 2vh;
    }
    input {
        transform: scale(2);
        display: block;
        margin-right: 1.5rem;
    }
    label {
        display: block;
    }
}
//PC
@include screens.laptop{
    .competences {
        flex-direction: row;
        &__list {
            padding: 0 3rem;
            width: 33%;
        }
    }
}