@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.wrapper {
    width: 70%;
    margin: 20px auto;
    
    h1 {
        font-weight: bold;
        font-size: 35px;
    }

    .image {
        border-radius: 999px;
        height: 20 0px;
        height: 200px;
        display: block;
        margin: 20px auto;
    }

    .arrow {
        color: variables.$orange;
        transform: rotate(180deg);
        height: 30px;
        margin-bottom: 15px;
    }

    .stars {
        display: flex;
        gap: 0.25rem;
        margin-top: 15px;
        
        img {
            height: 51px;
        }
    }

    .subtitle {
        font-size: 25px;
        font-weight: bold;
        margin: 40px 0;
    }

    .cours {
        background: #DAD0FF;
        color: black;
        margin-bottom: 20px;
        text-align: center;
        padding: 30px 35px;
        border-radius: 10px;

        h3 {
            font-weight: bold;
            font-size: 20px;
        }
    }

    .place {
        margin-top: 10px;
        font-size: 16px;
    }

    .time {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .button {
        color: white;
        background: linear-gradient(90deg, #6B69DF 0%, #9D69DF 100%);
        padding: 10px 20px;
        font-size: 25px;
        box-sizing: border-box;
    }
}

@include screens.laptop {
    .container {
        display: flex;
    }

    .coursContainer {
        width: 100%;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {
                width: 30%;
            }
        }
    }

    .avisContainer {
        display: flex;
        flex-direction: column;
    }
}